body {
    margin: 0;
    font-family: 'Play', 'Geo', 'Inter', 'OpenSans';
    width: 100%;
    height: 100%;
    font-size: 26px;
    background-color: #121212;

}

*,
*:after,
*:before {
    box-sizing: border-box;
}

div {
    display: block;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

img {
    margin: 0;
}

.intro {
    width: 100%;
    height: 100%;
    max-width: 70%;
    margin: 0 auto;
}

.header_wrap {
    width: 100%;
    margin: 0;
    position: sticky;
    top: 0;
    z-index: 100;
}

.header_navigation {
    background-color: #181818;
    width: 100%;
    display: flex;
    align-items: center;
}

.header_mains_container {
    padding-right: 10px;
    padding-left: 10px;
    width: 100%;
    align-items: center;
    display: flex;
}

.header_logos{
    padding-right: 33px;
    max-height: 70px;
}

.navigations{
    width: 100%;
    height: 100%;
}

.nav_header{
    display: flex; 
    align-items: center;
}

.a_header{
    margin-left:33px;
    margin-right:33px;
    color: #D9D9D9;
    text-align: center;
    line-height: 33px;
    text-decoration: none;
    margin-top: 2px;
    width: 135px;
    height: 35px;
}

.a_header:hover {
    color: #f8efc9;
    font-size: 30px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 30px;
}

.user {
    padding-right: 3em;
    font: 'Geo';
    position: static;
}

.login {
    margin-left:65px;
    margin-right:65px;
    color: #E2E2E2;
    opacity: 0.5;
    line-height: 30px;
    text-align: center;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
}

.login:hover {
    color: #E2E2E2;
    opacity: 1;
}




/*MAIN*/

/*Carousel*/

.main_wrap {
    margin-left: auto;
    margin-right: auto;
}

.carousel_wrap {
    display: flex;
    justify-content: center;
    margin-top: 130px;
    width: 100%;
    height: 100%;
}

.carousel {
    width: 1600px;
    height: 440px;
    background: rgba(35, 35, 35, 0.3);
}

.scrollbar {
    display: flex;
    min-width: 0;
    position: relative;
    display: flex;
    justify-content: center;
}




html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.carousel {
  min-width: 441px;
  max-width: 1676px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 28px;
  padding-right: 36px;
  position: relative;
}

.activator {
  display: none;
}

.controls {
  display: none;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 0;
  right: -50px;
  left: -130px;
  bottom: 0;
}

.controls:first-of-type {
  justify-content: flex-end;
}

.controls:last-of-type {
  justify-content: flex-start;
}

.control {
  cursor: pointer;
  background-color: #3d414a;
  color: #fff;
  border-radius: 100%;
  box-shadow: 0 2px 10px 0 rgb(33 34 36 / 30%);
  font-size: 40px;
  height: 48px;
  justify-content: center;
  transition: 0.3s all;
  width: 48px;
  z-index: 1;
  text-align: center;
  line-height: 40px;
  position: relative;
  left: 36px;
}

.control:hover {
  transform: scale(1.05);
}

.activator:nth-of-type(1):checked ~ .controls:nth-of-type(1) {
  display: flex;
}

.activator:nth-of-type(1):checked ~ .screen .track {
  transform: translateX(0%);
}

.activator:nth-of-type(2):checked ~ .controls:nth-of-type(2) {
  display: flex;
}

.activator:nth-of-type(2):checked ~ .screen .track {
  transform: translateX(-100%);
}

.activator:nth-of-type(3):checked ~ .controls:nth-of-type(3) {
  display: flex;
}

.activator:nth-of-type(3):checked ~ .screen .track {
  transform: translateX(-200%);
}

.activator:nth-of-type(4):checked ~ .controls:nth-of-type(4) {
  display: flex;
}

.activator:nth-of-type(4):checked ~ .screen .track {
  transform: translateX(-300%);
}

.activator:nth-of-type(5):checked ~ .controls:nth-of-type(5) {
  display: flex;
}

.activator:nth-of-type(5):checked ~ .screen .track {
  transform: translateX(-400%);
}

.activator:nth-of-type(6):checked ~ .controls:nth-of-type(6) {
  display: flex;
}

.activator:nth-of-type(6):checked ~ .screen .track {
  transform: translateX(-500%);
}

.activator:nth-of-type(7):checked ~ .controls:nth-of-type(7) {
  display: flex;
}

.activator:nth-of-type(7):checked ~ .screen .track {
  transform: translateX(-600%);
}

.activator:nth-of-type(8):checked ~ .controls:nth-of-type(8) {
  display: flex;
}

.activator:nth-of-type(8):checked ~ .screen .track {
  transform: translateX(-700%);
}

.activator:nth-of-type(9):checked ~ .controls:nth-of-type(9) {
  display: flex;
}

.activator:nth-of-type(9):checked ~ .screen .track {
  transform: translateX(-800%);
}

.activator:nth-of-type(10):checked ~ .controls:nth-of-type(10) {
  display: flex;
}

.activator:nth-of-type(10):checked ~ .screen .track {
  transform: translateX(-900%);
}

.screen {
  overflow: hidden;
  margin-left: -16px;
  margin-right: -16px;
  height: 441px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.track {
  font-size: 0;
  transition: all 0.3s ease 0s;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.item {
  display: inline-flex;
  padding-left: 16px;
  padding-right: 16px;
  vertical-align: top;
  white-space: normal;
}
.item--desktop-in-1 {
  width: 100%;
}

.item--desktop-in-2 {
  width: 50%;
}

.item--desktop-in-3 {
  width: 33.3333333333%;
}

.item--desktop-in-4 {
  width: 25%;
}

.item--desktop-in-5 {
  width: 20%;
}

.demo-container {
  display: flex;
  position: absolute;
  top: 0;
  align-items: center;
  bottom: 0;
  left: 0;
  right: 0;
}

.demo-content {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  border-radius: 3px;
  font-size: 56px;
  height: 380px;
  width: 500px;
}

.carousel_image{
  height: 380px;
  width: 500px;
}

.item:nth-child(1) .demo-content {
  background-color: #216485;
}

.item:nth-child(2) .demo-content {
  background-color: #3692b6;
}

.item:nth-child(3) .demo-content {
  background-color: #6fccc9;
}

.item:nth-child(4) .demo-content {
  background-color: #a6e3cf;
}

.item:nth-child(5) .demo-content {
  background-color: #aff0be;
}

.item:nth-child(6) .demo-content {
  background-color: #527059;
}

.item:nth-child(7) .demo-content {
  background-color: #243127;
}

.item:nth-child(8) .demo-content {
  background-color: #08250f;
}

.item:nth-child(9) .demo-content {
  background-color: #000e03;
}

@media screen and (max-width: 1023px) {
  .carousel {
    padding-left: 0;
    padding-right: 0;
  }

  .activator:nth-of-type(n):checked ~ .controls:nth-of-type(n) {
    display: none;
  }

  .activator:nth-of-type(n):checked ~ .screen .track {
    transform: none;
  }

  .screen {
    margin-left: 0;
    margin-right: 0;
  }

  .track {
    overflow-x: auto;
    width: auto;
    padding-left: 48px;
    padding-right: 48px;
  }

  .item--tablet-in-1 {
    width: 90%;
  }

  .item--tablet-in-2 {
    width: 45%;
  }

  .item--tablet-in-3 {
    width: 30%;
  }
}

@media screen and (max-width: 650px) {
  .track {
    padding-left: 0;
    padding-right: 0;
  }

  .item--mobile-in-1 {
    width: 90%;
  }

  .item--mobile-in-2 {
    width: 45%;
  }

  .item--mobile-in-3 {
    width: 30%;
  }
}





/*Main*/

.notation {
    width: 100%;
    height: 108px;
    display: grid;
}

.mid_note {
    display: flex;
    justify-self: center;
    position: absolute;
    font-family: 'Play';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 46px;
    color: #FFFFFF;
    padding-top: 28px;
    padding-bottom: 34px;
}

.main_content {
    display: flex;
    justify-content: center;
}

.content_wrap {
    width: 1676px;
    height: 2569px;
    background: rgba(35, 35, 35, 0.3);
    border-radius: 30px;
}

.items_container {
    display: flex;
    position: absolute;
    max-width: 1676px;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 9px;
    padding-left: 7.5px;
    padding-right: 7.5px;
    filter: drop-shadow(0px 5px 6px rgba(0, 0, 0, 0.7));
}

/* Объект фильма */

.film_item {
    width: 810px;
    height: 400px;
    background: #121212;
    border-radius: 30px;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: 7.5px;
    margin-right: 7.5px;
    display: flex;
}

.film_image {
    margin-top: 25px;
    margin-bottom: 30px;
    margin-left: 25px;
    width: 259px;
    height: 345px;
    border-radius: 20px;
    box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, 0.4);
}

.film_name_box {

    margin-top: 36px;
    margin-left: 40px;
    font-family: 'Play';
    padding-bottom: 2px;
}

.film_name {
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 30px;
    color: #FFFFFF;
    padding-bottom: 15px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 450px;
}

.film_name_eng {
    font-style: normal;
    font-weight: 400;
    margin:0;
    font-size: 20px;
    line-height: 23px;
    color: #D8D8D8;
}

.film_description_box {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 100;
    font-size: 20px;
    line-height: 27px;
    margin-top: 71px;
    color: #FFFFFF;
    overflow-x: hidden;
    overflow-y: hidden;

}

.film_description_title {
    margin: 0;
    font-family: 'OpenSans';
}

.film_description {
    margin: 0;
    margin-right: 40px;
    height: 80px;
    font-family: 'OpenSans';
}

.film_rating_box {
    display: flex;
    margin-top:27px;
    margin-left: 150px;
    align-items: end;
}

.film_rating {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 44px;
    margin: 0;
    border-right: solid;
    border-color: rgba(216, 216, 216, 0.5);
    padding-right: 7px;
}

.film_rating_vote {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    padding-left: 10px;
    margin: 0;
}

.film_rating_excelent {
    color: #FFD362;
}

.film_rating_good {
    color: #54BA25;
}

.film_rating_neutral {
    color: #B0AFAD;
}

.film_rating_bad {
    color: #DE5845;
}

.footer {
    background-color:#121212;
    padding: 40px 186px 40px 70px;
    border-top: 4px solid rgba(176, 175, 173, 0.5);
    margin-top: 90px;
    justify-content: space-between;
    display:flex;
}

.footer_elements_wrap {
    display: flex;
    align-items: center;
    width: 100%;
    
}

.logo_group{
    display: flex;
    align-items: center;
}

.footer_icon {
    margin-right: 5px;
    font-size: 0;
}

.footer_logo {
    position: relative;
    top: 5px;
    font-size: 0;
}

.footer_nav_wrap {
    width: 100%;
    height: 100%;
    display: flex; 
    align-items: center;
    margin-left: 33px;
}

.a_footer {
    font-size: 16px;
    margin: 0 30px 0 30px;
    color: #B0AFAD;
    text-align: center;
    line-height: 40px;
    letter-spacing: 0.145em;
    text-decoration: none;
    width: 120px;
    height: 40px;
    margin-top: 2px;
}

.a_footer:hover {
    color: #f8efc9;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 30px;
    font-size: 18px;
}

.a_footer_end {
    width: 140px;
}

.footer_year{
    display: flex;
    align-items: center;
}

.year_note {
    width: 90px;
    height: 42.08px;
    font-family: 'Geo';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 36px;
    text-align: center;
    letter-spacing: 0.145em;
    color: #D9D9D9;
}

/*Импорт шрифтов*/


@font-face {
    font-family: 'Play';
    src: url('../../assets/fonts/Play-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
	font-family:  'Geo';
	src: url('../../assets/fonts/Geo-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
	font-family:  'Inter';
	src: url('../../assets/fonts/Inter-Medium.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
	font-family:  'OpenSans';
	src: url('../../assets/fonts/OpenSans-Medium.ttf');
    font-weight: normal;
    font-style: normal;
}